extends layout
block content
    h1 Page for: #{user.username}
    p Real Name: #{user.realname}
    p User ID: #{user.UserID}
    h2 Favourite Song
    p Name: #{favSong.SongName}
    p Date: #{favSong.SongDate}
    p by: #{favSong.ArtistName}
    h2 Favourite Artist
    p Name: #{favArtist.ArtistName}
    p Genre: #{favArtist.Genre}
    h2 Playlists
    table(border=1)
        for item in data
            tr
                td #{item.PlaylistID}
                td #{item.Title}
                td #{item.PlaylistDate}